
<section >
	<div class="container">
		
			<div class="d-flex justify-content-center align-items-center mt-2">

				
			</div>
			
				<div class="row d-flex ">
					<div class="col-lg-4">
						<img src="~/img/banner/AboutBanner.jpg" />
					</div>

					<div class="col-8 mt-4">
						
						<div class="about-text bg-light p-4">
							<div class="about-header mt-2">
								<h2 class="d-flex justify-content-center align-content-center">About Us</h2>
								<p class="d-flex justify-content-center align-content-center">Learn more about our company and our mission.</p>
							</div>
							

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget libero nec ipsum feugiat tempus. Phasellus vel sapien id odio sollicitudin scelerisque. Integer quis elit nec sem vulputate fermentum.</p>

							<p>Fusce auctor sem ac sem ullamcorper, non iaculis dolor varius. In hac habitasse platea dictumst. Nulla facilisi. Etiam congue tortor id est molestie, nec semper metus tincidunt. Integer sit amet metus id odio iaculis bibendum. Nulla facilisi.</p>

							<p>Curabitur eu libero id nisl ultrices bibendum. Quisque pharetra, felis in ullamcorper euismod, orci eros accumsan justo, a vestibulum metus ipsum vitae turpis. Ut scelerisque quam et odio cursus, quis fringilla mauris semper.</p>
							<div class="d-flex justify-content-end  align-content-end">
								<img src="~/img/logo.png" />
							</div>
						
						</div>
						
					</div>

				</div>
			


	</div>
</section>

