@{
	ViewBag.Title = "Home Page";
}

<section class="categories">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 p-0">
				<div class="categories__item categories__large__item set-bg" data-setbg="/img/categories/category-1.jpg" style="background-image: url(&quot;/img/product/Denim/banner.jpg&quot;);">
					<div class="categories__text">
						<h1>Women’s fashion</h1>
						<p>
							Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
							edolore magna aliquapendisse ultrices gravida.
						</p>
						<a href="@Url.Action("ProductDisplay","Product")">Shop now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 p-0">
						<div class="categories__item set-bg" data-setbg="img/product/Jeans.jpg" style="background-image: url(&quot;/img/product/Jeans.jpg&quot;);">
							<div class="categories__text">
								<a><h4>Jeans</h4></a>
								
								
							</div>
						</div>	
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 p-0">
						<div class="categories__item set-bg" data-setbg="img/product/Denim/Fashion.jpg" style="background-image: url(&quot;/img/product/Denim/Poster1.jpg&quot;);">
							<div class="categories__text">
								<h4>Fashion</h4>
								
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 p-0">
						<div class="categories__item set-bg" data-setbg="img/categories/category-4.jpg" style="background-image: url(&quot;/img/product/Denim/Dress.jpg&quot;);">
							<div class="categories__text">
								<h4>Dresses</h4>
								<p>159 items</p>
								
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 p-0">
						<div class="categories__item set-bg" data-setbg="img/categories/category-3.jpg" style="background-image: url(&quot;/img/product/Denim/Jacket.jpg&quot;);">
							<div class="categories__text">
								<h4>Jackets</h4>
								<p>792 items</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--Service Section-->
<!-- Services Section Begin -->
<section class="services spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="services__item">
					<i class="fa fa-car"></i>
					<h6>Free Shipping</h6>
					<p>For all oder over $99</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="services__item">
					<i class="fa fa-star"></i>
					<h6>Money Back Guarantee</h6>
					<p>If good have Problems</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="services__item">
					<i class="fa fa-support"></i>
					<h6>Online Support 24/7</h6>
					<p>Dedicated support</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="services__item">
					<i class="fa fa-headphones"></i>
					<h6>Payment Secure</h6>
					<p>100% secure payment</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Services Section End -->